@model SaleModel

<div class="bg-light border p-4 rounded m-auto" style="width:70%;">
    <h2>Kitap Satış/Kiralama</h2>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid border rounded mb-3" src="~/img/@Model.BookImageUrl" />
            <h5>@Model.BookName</h5>
            <h5>Satış Fiyatı: @Model.BookPrice ₺</h5>
        </div>
        <div class="col-md">
            <form method="post" asp-controller="admin" asp-action="booksale">
                <input type="hidden" asp-for="BookId" value="@Model.BookId" />
                <input type="hidden" asp-for="BookName" value="@Model.BookName" />
                <input type="hidden" asp-for="BookPrice" value="@Model.BookPrice" />
                <input type="hidden" asp-for="BookImageUrl" value="@Model.BookImageUrl" />
                <input type="hidden" asp-for="Date" value="@DateTime.Now" />
                <div class="mb-3 row">
                    <div class="col">
                        <label class="form-label">Ad</label>
                        <input asp-for="Name" class="form-control" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="col">
                        <label class="form-label">Soyad</label>
                        <input asp-for="Surname" class="form-control" />
                        <span class="text-danger"  asp-validation-for="Surname"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col">
                        <label class="form-label">Telefon</label>
                        <input asp-for="Phone" class="form-control" />
                        <span class="text-danger"  asp-validation-for="Phone"></span>
                    </div>
                    <div class="col">
                        <label class="form-label">Email</label>
                        <input asp-for="Email" class="form-control" />
                        <span class="text-danger"  asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Adres</label>
                    <input asp-for="Adress" class="form-control" />
                    <span class="text-danger"  asp-validation-for="Adress"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">İşlem Tipi</label>
                    <select asp-for="RecordType" class="form-select" aria-label="Default select example">
                        <option value="True" selected>Kiralama</option>
                        <option value="False">Satış</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-warning w-100">Kaydet</button>
            </form>
        </div>
    </div>
</div>